
<div class="container content-section">
    <h2 class="section-header">Rice and Viand</h2>
    <div class="shop-items">
        <div class="shop-item">
            <span class="shop-item-title">1. Plain Rice</span>
            <img class="shop-item-image" src="assets/img/plain_rice.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">15 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">2. Brown Rice</span>
            <img class="shop-item-image" src="assets/img/brown_rice.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">20 Pesos</span>
                <button class="btn btn-primary shop-item-button"type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">3. Beans Alahan</span>
            <img class="shop-item-image" src="assets/img/beans_alahan.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">25 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">4. Schezuan Eggplant</span>
            <img class="shop-item-image" src="assets/img/schezuan_eggplant.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">20 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">5. Crispy Tofu</span>
            <img class="shop-item-image" src="assets/img/crispy_tofu.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">6. Ginataang Puso</span>
            <img class="shop-item-image" src="assets/img/ginataang_puso.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">7. Glutein Dinakdakan</span>
            <img class="shop-item-image" src="assets/img/glutein_dinakdakan.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">8. Patty with Gravy</span>
            <img class="shop-item-image" src="assets/img/patty_with_gravy.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">30 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">9. vege meat</span>
            <img class="shop-item-image" src="assets/img/vege_meat.jpg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">10. Butter Vegetables</span>
            <img class="shop-item-image" src="assets/img/butter_vege.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">11. Togue</span>
            <img class="shop-item-image" src="assets/img/toge.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">20 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">12. Sinigang</span>
            <img class="shop-item-image" src="assets/img/sinigang.jpg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
    </div>
</div>
<div class="container content-section">
    <h2 class="section-header">Desert, Fruits and Bread</h2>
    <div class="shop-items">
        <div class="shop-item">
            <span class="shop-item-title">Vegetable Salad</span>
            <img class="shop-item-image" src="assets/img/vegetable_salad.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">Spaghetti</span>
            <img class="shop-item-image" src="assets/img/spaghetti.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-items">
        <div class="shop-item">
            <span class="shop-item-title">Kalingking</span>
            <img class="shop-item-image" src="assets/img/kalingking.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-items">
        <div class="shop-item">
            <span class="shop-item-title">Carbonara</span>
            <img class="shop-item-image" src="assets/img/carbonara.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
    </div>

    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</div>