<header class="main-header">
    <nav class="main-nav nav">
        <ul>
            <li><a routerLink="/">HOME</a></li>
            <li><a routerLink="/content">MENU</a></li>
            <li><a routerLink="/">ABOUT</a></li>
        </ul>
    </nav>
    <link rel="shortcut icon" href="assest/img/aup.png" type="image/x-icon" />
    <h1 class="band-name band-name-large">Aup Cafeteria Online</h1>
</header>


<div class="page">
    <div class="jumbotron">


        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>